
/**
 * Basic styling
 */
body {
  font-family: "Karla";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 18px;
  line-height: 1.5;
  /* color: #151515; */
  /* background-color: #ffffff; */
  -webkit-text-size-adjust: 100%;
    background-color: #EAEDF3;
    font-family: 'Karla';

  }

.contact {
  /* background-color: red; */
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items:center;
  padding: 15px;
}

.contact div {
  padding: 15px;
}

.box {
  background-color: #FFFFFF;
  font-family: 'Karla';
  margin: 10px;
  padding: 1px;
  border-radius: 10px;
  width: 550px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);

}

@media (max-width: 650px) {
  .box {
    max-width: 85%;
    background-color: red;
  }
}

#box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
